root {
    --bg-color: lavender;
    --dark-color: blueviolet;
    --header-font: 'Koulen';
}


header {
    height: 20vh;
    padding: 15px;
    text-align: center;
    font-family: 'Koulen';
}

header nav { 
    padding: 30px;
}

header nav h1 {
    font-size: 30px;
    font-family: var(--header-font);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline;
}

p {
    width: 100%;
    text-align: center;
}

figure {
    border: 1px solid purple;
    height: 20vh;
}

.About-Content {
    flex-basis: 20%;
    border-right-color: purple;
    border-right-width: 1px;
    border-right-style: solid;  
}

.Title {
    flex-basis: 20%;
    border-right-color: purple;
    border-right-width: 1px;
    border-right-style: solid;
}

#About-Me {
    font-family: var(--header-font);
}