root {
    --bg-color: lavender;
    --dark-color: blueviolet;
    --header-font: 'Koulen';
}


header {
    background-color: var(--dark-color);
    height: 2vh;
    padding: 15px;
    text-align: center;
    font-family: 'Koulen';
}

header nav { 
    padding: 30px;
    background-color: var(--dark-color);
}

header nav h1 {
    font-size: 30px;
    font-family: var(--header-font);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--dark-color);
}