:root {
    --bg-color: wheat;
    --dark-color: sienna;
    --header-font: 'Koulen';
    --header-fnt-color: wheat;
    --body-font: 'Radio Canada';
}


header {
    height: 20vh;
    padding: 15px;
    text-align: center;
    font-family: 'Koulen';
    background-color: var(--dark-color);
    color: var(--header-fnt-color);
}

header nav { 
    padding: 30px;
}

header nav h1 {
    font-size: 30px;
    font-family: var(--header-font);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline;
}

body {
    background-color: wheat;
    font-family: var(--body-font);
}

h2 {
    font-family: 'Koulen';
    padding: 10px;
    color: saddlebrown;
    font-size: 35px;
}

img {
    align-items: center;
    border-radius: 200px;
}

p {
    width: 100%;
    text-align: center;
    font-family: var(--body-font);
    padding: 10px;
    line-height: 1.5rem;
}

figure {
    border: 1px solid sienna;
    height: 20vh;
}

h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Koulen';
}

.Contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#About-Me {
    font-family: var(--header-font);
}